.trucks-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-row-gap: 40px; 
  margin: 0 auto;
  width: 90%;
  margin-top: 90px;
  padding-bottom: 40px;
  overflow: auto;
  -ms-overflow-style: none; 
	scrollbar-width: none;
	overflow-y: scroll; 
}

.trucks-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1330px) {
  .trucks-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 987px) {
  .trucks-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 645px) {
  .trucks-container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: auto;
  }
}