.TruckDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 73vh;
  padding-left: 14em;
  padding-right: 14em;
  margin-top: 6em;
}

.not-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 47em;
  background-color: rgb(243,156,17, .7);
  width: 50em;
  border-radius: 10%;
}

.grouped-truck-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  display: flex;
  flex-direction: column;
  height: 50em;
  align-items: center;
}

.weblink-button {
    height: 50px;
    margin-top: 8px;
}

p {
    padding: 5px
}

.truck-image {
    height: 30vh;
    width: 35vh;
    padding: 13px
}


.go-to-events {
     height: 3.5em;
    background-color: lightgray;
    cursor: pointer;
    transition: border-radius 0.3s ease-in-out;
    font-weight: 800;
}

.go-to-events-wrapper {
  height: 9vh;
  width: 10vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.go-to-events:hover {
 background-color: #34495e;
    border: 2px #f39c12 solid;
    color: #f39c12;
    border-radius: 50%;
    transition: border-radius 0.3s ease-in-out;
}


@media screen and (max-width: 510px) {
  .TruckDetails {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-left: 14em;
    padding-right: 14em;
    align-items: center;
    margin-top: 6em;
    flex-direction: column;
  }
}
